a{
    text-decoration: none ;
    color:black;
}

#liste{
    list-style-type : none;
}

#liste li{
    display : inline;
    padding : 0 0.5em;
}
div{
    text-align: center;
}
table {
    margin-left:auto;
    margin-right:auto;
}